html {
    font-size: 62.5%;
}

body {
    background-color: cornflowerblue;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.8rem;
}

main {
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 3rem;
    text-align: center;
}

li {
    list-style-type: none;
}

option{
    padding-right: 20px;
}

.genreUl {
    display: flex;
    width: 100%;
    justify-content: center;
}

.resultUl {
    width: 100%;
    display: flex;
    justify-content: space-around;
    h2 {
        display: none;
    }

    li {
        position: relative;
        width: 120px;
        padding-top: 50px;
    }
}

/*Plates*/

@keyframes riseToLeft {

}

.movieCoverRise {
    animation: riseToLeft 2s ease-in-out infinite;
}

.moviePlateCover, .dinnerPlateCover {
    position: absolute;
    width: 440px;
    top: -36px;
    left: 50%;
    margin-left: -220px;
    clip-path: polygon(42.87% 2%, 56.68% 2%, 78.68% 30.27%, 95.05% 85.26%, 100.45% 88.81%, 100% 98.08%, 0px 100%, -0.64% 89.82%, 5.27% 85.48%, 19.81% 34.74%);
    border: 3px solid greenyellow;
}

.moviePlateCover {
    transform-origin: left;
    transform: rotateX();
    
}

.dinnerPlateCover {
    
}

.moviePlate, .dinnerPlate {
    position: absolute;
    width: 1000px;
    top: 188px;
    z-index: -1;
}

.moviePlate {
    left: -775px;
}

.dinnerPlate {
    right: -775px;
}